@media all and (min-width: 1200px) {
	body {
	width: 100%;
	max-width: 100%;
	min-width: 960px;
	}
	.description {
	float: left;
	width: 64%;
	padding-left: 2.5%;
	}
	.content{
	width:1200px;
	}
	.rightUp {
	margin-left: 33px;
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	.rightDown {
	margin-top: 20px;
	margin-left: 33px;
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	.leftUp {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	}
	.leftUp:last-of-type {
	border-bottom: none;
	}
}

@media all and (min-width: 900px) and (max-width: 1200px) {
	body {
	width: 100%;
	/*min-width: 485px;*/
	font-size: 80%;
	}
	.description {
	float: left;
	width: 56%;
	padding-left: 2.5%;
	}
	.content{
		width:900px;
	}
	.underBanner{
		margin-top: 150px;
	}
	.bannerImg{
		margin-left:178px;
	}
	.bannerSize{
		width: 550px;
	}
	.leftImage{
	width: 500px;
	}
	.rightUp {
	margin-left: 22px;
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	.rightDown {
	margin-top: 20px;
	margin-left: 22px;
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	h1 {
	font-size: 2.4em;
	}
}

@media all and (min-width: 768px) and (max-width: 900px) {
	body {
	width: 100%;
	/*min-width: 485px;*/
	font-size: 80%;
	}
	.description {
	float: left;
	width: 56%;
	padding-left: 2.5%;
	}
	.content{
		width:768px;
	}
	.underBanner{
		margin-top: 120px;
	}
	.bannerImg{
		margin-left:112px;
	}
	.bannerSize{
		width: 450px;
	}
	.leftImage{
	width: 370px;
	}
	.rightSide{
		float: left;
		width: 200px;
		margin-left: 19px;
	}
	.rightUpImage{
		width: 225px;
		height: 140px;
	}
	.rightUp {
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	.rightDown {
	margin-left: 11px;
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	.rightText1{
		font-size: 10px;
		font-weight:bold;
	}
	.rightText2{
		width: 130px;
		margin-left: 80px;
		font-size: 12px;
	}
	.rightText3{
		font-size: 10px;
		width: 130px;
		margin-left: 80px;
	}
}

@media all and (min-width: 768px) and (max-width: 900px) {
	body {
	width: 100%;
	/*min-width: 485px;*/
	font-size: 80%;
	}
	.description {
	float: left;
	width: 56%;
	padding-left: 2.5%;
	}
	.content{
		width:768px;
	}
	.underBanner{
		margin-top: 120px;
	}
	.bannerImg{
		margin-left:112px;
	}
	.bannerSize{
		width: 450px;
	}
	.leftImage{
	width: 370px;
	}
	.rightSide{
		float: left;
		width: 200px;
		margin-left: 19px;
	}
	.rightUpImage{
		width: 225px;
		height: 140px;
	}
	.rightUp {
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	.rightDown {
	margin-left: 11px;
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	.rightText1{
		font-size: 10px;
		font-weight:bold;
	}
	.rightText2{
		width: 130px;
		margin-left: 80px;
		font-size: 12px;
	}
	.rightText3{
		font-size: 10px;
		width: 130px;
		margin-left: 80px;
	}
}
@media all and (min-width: 560px) and (max-width: 768px) {
	body {
	width: 100%;
	/*max-width: 480px;*/
	}
	.description {
	/*float: left;*/
	width: 50%;
	padding-left: 10.5%;
	}
	.content{
		width:90%;
	}
	.underBanner{
	margin-top: 120px;
	}
	.bannerImg{
	margin-left: 157px;
	}
	.bannerSize{
	width: 350px;
	}
	.description{
		border-right:none;
		margin-left: 100px;
	}

	.leftImage{
	width: 320px;
	}
	.rightSide{
	clear: both;
	width: 150px;
	padding-left: 25.5%;
	}
	.rightUpImage{
	width: 225px;
	height: 140px;
	}
	.rightDown {
	margin-left: 11px;
	border-bottom: 1px solid rgb(189, 185, 185);
	padding-bottom: 19px;
	}
	.rightUp {
	border-top: 1px solid black;
	/*padding: 1em 5% 0;*/
	line-height: 2;
	}

@media all and (min-width: 460px) and (max-width: 560px) {
	body {
	width: 100%;
	/*max-width: 480px;*/
	}
	.logoName {
		margin: auto 0 auto 0;
	}
	.description {
	width: 60%;
	padding-left: 0;
	margin-left: 20px;
	}
	.content{
		width:90%;
	}
	.underBanner{
	margin-top: 120px;
	}
	.bannerImg{
	margin-left: 10%;
	}
	.bannerSize{
	width: 200px;
	}
	.description{
		border-right:none;
		margin-left: 100px;
	}

	.leftImage{
	width: 150px;
	}
	.rightSide{
	clear: both;
	width: 120px;
	padding-left: 0;
	}
	.rightUp {
	border-bottom: none;
	padding-bottom: 19px;
	}
	.rightDown {
	margin-left: 11px;
	border-bottom: none;
	padding-bottom: 19px;
	}
	.rightText3{
		font-size: 10px;
		width: 100px;
		margin-left: 80px;
	}
}
